.castSection {
    margin-top: 60px;
}
.castGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 24px;
}

.actorImageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 30px ;
}

.actorImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.actorPlaceholder {
    width: 100%;
    height: 100%;
    background: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-weight: 600;
}

.actorInfo {
    padding: 16px;
}

.actorName {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 8px 0;
    color:var(--text-primary);
}

.actorCharacter {
    font-size: 0.95rem;
    color: var(--text-secondary);
    margin: 0;

}
