.castSection {
    margin-top: 60px;
}



.castGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 24px;
}

.actorImageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.actorImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.actorPlaceholder {
    width: 100%;
    height: 100%;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f8c8d;
    font-weight: 600;
}

.actorInfo {
    padding: 16px;
}

.actorName {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #2c3e50;
}

.actorCharacter {
    font-size: 0.95rem;
    color: #7f8c8d;
    margin: 0;
    font-style: italic;
}
