.linearProgress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.progressBar {
    width: 100%;
    height: 4px;
    background-color: var(--text-primary);
    overflow: hidden;
}

.progressBar__fill {
    height: 100%;
    background-color: var(--accent-color);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}