.searchForm {
    display: flex;
    gap: 12px;
    margin-bottom: 2rem;
    max-width: 600px;


}

.searchInput {
    flex: 1;
    padding: 10px 25px;
    border: 1px solid #e2e8f0;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease;
    background: #22325b;
    color: #a6b1c4;
}

.searchInput:focus {
    border-color: #4299e1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.1);
}

.searchInput::placeholder {
    color: #a0aec0;
}

.searchButton {
    padding: 10px 24px;
    background: #4299e1;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.searchButton:hover:not(:disabled) {
    background: #3182ce;
    transform: translateY(-1px);
}

.searchButton:active:not(:disabled) {
    transform: translateY(0);
}

.searchButton:disabled {
    background: #375177;
    cursor: not-allowed;
    transform: none;
}

/* Адаптивность */
@media (max-width: 640px) {
    .searchForm {
        flex-direction: column;
        gap: 8px;
    }

    .searchButton {
        width: 100%;
    }
}