.filterGroup {
    margin-bottom: 24px;
}

.filterTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #000;
}

.select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: var(--header-bg);
    color: white;
}